@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center mt-5">
    <h1 class="display-4 mb-4">Benvenuto</h1>
    <div class="row">
        <div class="col-md-6 mb-3">
            <a asp-controller="Dipendente" class="btn btn-primary btn-lg btn-block">Gestione Dipendenti</a>
        </div>
        <div class="col-md-6">
            <a asp-controller="Pagamento" class="btn btn-success btn-lg btn-block">Gestione Pagamenti</a>
        </div>
    </div>
</div>
